@tailwind base;
@tailwind components;
@tailwind utilities;

.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

.hide-scrollbar {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

/* Custom Scroll bar */
::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}

::-webkit-scrollbar-track {
  background-color: #ffde00; /* dark-brown */
}

::-webkit-scrollbar-thumb {
  background-color: #ffde00; /* light-gray */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #ffde00; /* primary */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #797979 #1d1d1f; /* thumb color track color */
}
